:root {
    --gray-color: #4E5150;
    --gray-bg: #F2F2F2; 
    --gray-input:  #E0E0E0; 
    --span-orange: #F2994A; 
    --gray-border: #828282;
    --dark-gray: #333;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}
html:focus-within {
  scroll-behavior: smooth;
}
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-family: 'Montserrat', sans-serif;
}

h1 {
    font-weight: 500;
    color: var(--gray-color);
    margin: 2rem;
}
.shopping-card {
    margin: 0 2rem;
    background-color: var(--gray-bg);
    border-radius: 20px;
    padding: 2rem;
}

.card {
    display: flex;
    color: var(--gray-color) ;
    font-weight: 500;
}
.card > img {
    width: 180px;
    height: 180px;
    object-fit: cover;
    border-radius: 20px;
    margin-bottom: 2.5rem;
}
.card-side {
    display: flex; 
    flex-direction: column;
    height: 100%;  
    padding: 0 1rem;
}
.card-side span {
    color: var(--span-orange);
    font-size: 1.1rem;   
}
.product {
    font-size: 1.1rem;
}
.price-container {
    display: flex;
    justify-content: space-around;
    align-items: initial;
    margin-top: .5rem;
}
.price {
    text-decoration: line-through;
    font-size: .8rem;
}

.input {
    display: flex;
    border: 1px solid var(--gray-border);
    justify-content: space-evenly;
    align-items: center;
    margin-top: 3.2rem;
    font-size: 20px;
    border-radius: 20px;
    padding: 1rem .5rem;    
}
.input-btn {
    width: 35px;
    height: 35px;
    border: none;
    background-color: var(--gray-input);
    font-size: 25px;
    border-radius: 10px;
    cursor: pointer;  
}
.input p {
    padding: 0 1.5rem;
}
.total-container {
    margin-top: 3rem;
}
.shipping, .total {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid var(--gray-border);
    font-weight: 500;
    margin-top: 1rem;
    padding-top: 1rem;
    color: var(--gray-color);
}
.form1 {
    display: flex;
    flex-direction: column;
    margin: 2rem;
    color: var(--gray-color);
    font-weight: 500;
}
.title {
    font-size: 1.3rem;
    font-weight: 500;
    color: var(--dark-gray);
}

input {
    height: 40px;
    border-radius: 10px;
    border: 1px solid var(--gray-border);
    font-family: inherit;
    font-weight: 500;
    font-size: 1rem; 
}
